*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
body{
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    padding-top: 23px;
}
#logo{
    display: flex;
    margin-left: 85px;
}
#authorization{
    display: flex;
    margin-left: 108px;
    margin-right: 14px;
}
.wrapper{
    width: 1440px;
    height: 2500px;
    background:#000000;
    margin: 0 auto;
    position: relative;
}
#p_logo{
    color:#FFFFFF;
    font-size:25px; //24.75
}
#p_authorization>a{
    color:#FFFFFF;
    font-size:18px;
    font-weight: 500;
    line-height: 24.52px;
    position: relative;
    text-decoration: none;
}
#p_authorization>a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out; 
}
#p_authorization>a:hover:after,
#p_authorization>a:focus:after {
    width: 100%;
}
.preview__container{
    display: flex;
    justify-content: space-between;
}
#preview__content{
    margin-left: 100px;
    margin-top: 143px
}
#preview__content__p1{
    color: white;
    width: 100%;
    font-size: 65px;
    margin-bottom: 88px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
#preview__picture__container{
    display: flex;
    align-items: flex-end;
}
#preview__content__p2{
    color: white;
    margin-left: 31px;
    font-size: 20px;
    line-height: 27.24px;
    font-weight: 400;
}
#line_after{
    position: absolute;
    left: -107px;
    top: -133px;
}
#preview__picture{
    position: relative;
}
#download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;
    margin-left: 100px;

}
#download_p{
    color: white;
    font-weight: 700;
    line-height: 80px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
#preview__content__picture1{
    margin-top: -127px;
    margin-right: 40px;
    z-index: 2;
}
#preview__content__picture2{
    position: absolute;
    top: -4%;
    right: 0;
}
#picture_google{
    margin-right: 27px;
}
#container_for_store{
    margin-right: 163px;
}
#cards{
    margin-top: 168px;
    margin-left: 176px;
    display: flex;
    margin-right: 176px;
    justify-content: space-between;
}
.card{
    width: 503px;
    height: 312px;
    border-radius: 21px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.card_p{
    font-weight: 700;
    color: white;
    line-height: 41px;
    font-size: 30px;
    width: 100%;
}
.card_content{
    margin-top: 64px;
    margin-left: 55px;
}
.card_a{
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 30px;
    display: block;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    width: auto;
}
.card_a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}
.card_a:hover:after,
.card_a:focus:after {
    width: 230px;
}
.card_content_2{
    margin-top: 97px;
    margin-left: 53px;
}
.card_a_2{
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 30px;
    display: block;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    width: auto;
}
.card_a_2:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}
.card_a_2:hover:after,
.card_a_2:focus:after {
    width: 65px;
}
#our_mission{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.our_mission__picture{
    width: 100%;
}
#our_mission_content{
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-left: 167px;
}
#our_mission_content_1{
    padding-top: 58px;
    color: #FFFFFF;
    line-height: 63px;
    font-weight: 700;
    font-size: 51px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}
#our_mission_content_2{
    color: #FFFFFF;
    display: flex;
    margin-top: 25px;
    font-size: 18px;
    line-height: 24px;
}
#pure_small{
    position: absolute;
    top: -16%;
    left: 10%;
    z-index: 0;
}
.bar{
    position: relative;
    background: black;
    margin-top: 100px;
}
#bar{
    background: url("images/background_bar.png") no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 1060px;
    position: relative;
}
#black_top{
    height: 100%;
    text-align: -webkit-center;
    width: 100%;
}
#bar_content{
    position: absolute;
    bottom: -19%;
    display: flex;
    left: 10%;
    align-items: flex-end;
}
.bar_text{
    margin-bottom: 100px;
    margin-left: 128px;
}
#bar_text_big{
    color: white;
    font-size: 51px;
    line-height: 62px;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
#bar_text_low{
    color: white;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    position: relative;
}
.bar__background__black{
    width: 100%;
    position: absolute;
    left: 0;
    top: -1%;
    height: auto;
}
.bar__content{
    position: relative;
    /* left: 0; */
    /* top: 0%; */
    height: auto;
    margin-top: -22%;
    display: flex;
    align-items: center;
    width: 100%;
}
.bar__content__picture{
    flex: 1;
    padding-left: 4%;
}
.bar__content__text{
    flex: 10%;
}
.integration{
    display: flex;
    width: 100%;
    height: 700px;
    background: black;
    align-items: center;
    color: #FFFFFF;
}
.integration__text{
    flex: 1;
}
.integration__text__1{
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 8%;
}
.integration__text__2{
    font-size: 18px;
    padding-left: 8%;
    line-height: 25px;
    padding-top: 20px;
}

#integration__picture{
    position: relative;
    height: 500px;
    width: 56%;
    background: black;
    flex: 1;
}
#integration__picture1{
    position: absolute;
    left: 40%;
}
#integration__picture2{
    position: absolute;
    top: 32%;
    left: 22%;
}
#integration__picture3{
    position: absolute;
    top: 44%;
    left: 4%;
}
#integration__picture4{
    position: absolute;
    top: 72%;
    left: 26%;
    z-index: 2
}
#integration__picture5{
    position: absolute;
    top: 90%;
    left: 12%;
}
#integration__picture6{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 46%;
}
#integration__picture7{
    top: 34%;
    position: absolute;
    left: 63%;
}
.qr{
    background: black;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 40px;
}
.qr__pictures__container {
    width: 100%;
    height: auto;
    display: flex;
}
.qr__pictures{
    width: 100%;
    height: 100%;
}
.qr__content{
    color: #FFFFFF;
    display: flex;
    position: relative;
    align-items: center;
    width: 95%;
    margin-top: -30%;
}
.qr__content__text__container{
    margin: 0 auto;
    width: 400px;
}
.qr__content__text{
    flex: 0.8;
}
.qr__content__text__container1{
    font-weight: bold;
    font-size: 51px;
    padding-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
    line-height: 62px;
}
.qr__content__text__container2{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 80px;
}
.qr__content__pictures{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.qr__content__pictures__img{
width: 100%;
}
.qr__pictures__nightLife{
    position: absolute;
    right: 158px;
    top: 5%;
}
.qr__pictures__back{
    width: 56%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
}

.generation{
    background:   url("images/Notab/NOTAB1.png") top 30% left 1% no-repeat ,url("images/Notab/NOTAB2.png") bottom 30% left 1% no-repeat, url("images/Notab/NOTAB5.png") top 30% right 1% no-repeat,url("images/Notab/NOTAB3.png") bottom 25% right -20% no-repeat ;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;

}
.generation__picture{
    width: 333px;
    z-index: 2;
    flex: 0.4;
    margin-left: 40%
}
.generation__picture__back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.generation__picture__back >img{
    width: 100%;
    height: 100%;
}
.generation__article{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    white-space: nowrap;
    margin-bottom: 99px;
    z-index: 2;
}
.generation__picture__line{
    margin-bottom: 197px;
    margin-left: 4%;
    z-index: 3;
}
.generationQr{
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 192px;
}
.generationQr__text1{
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    font-family: 'Montserrat', sans-serif;
}
.generationQr__text2{
    font-size: 18px;
    line-height: 25px;
}
.ordering{
    background: black;
    display: flex;
    justify-content: flex-end;
}
.ordering__content{
    width: 35%;
}
.ordering__text1{
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    white-space: nowrap;
    padding-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
}
.ordering__text2{
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
}
.longscroll{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.longscroll__picture{
    width: 100%;
    height: auto;
}
.longscroll__picture>img{
    width: 838px;
    height: auto;
}
.longscroll__content{
    position: relative;
}
.longscroll__text1{
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 18.2417px;
    width: 236px;
    height: 113px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 35%;
}
.longscroll__text1>p{
    display: block;
    margin-left: 25px;
}
.longscroll__text2{
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 18.2417px;
    width: 175px;
    height: 65px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 70%;
    left: 22%;
}
.longscroll__text2>p{
    display: block;
    margin-left: 25px;
}
.longscroll__text3{
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 18.2417px;
    width: 266px;
    height: 98px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 18%;
    left: 56%;
}
.longscroll__text3>p{
    display: block;
    margin-left: 25px;
}
.longscroll__text4{
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 18.2417px;
    width: 185px;
    height: 90px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 59%;
    left: 84%;
}
.longscroll__text4>p{
    display: block;
    margin-left: 25px;
}
.longscroll__back{
    position: absolute;
    right: 0;
    top: -21%;
}
.noTab{
    background-image: url("images/NoTab/NOTAB_repeat.png");
    background-color: black;
    height: 1003px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.noTab__content{
    position: relative;
}
.noTab__content__picture2{
    top: 5%;
    position: absolute;
    left: 13%;
}
.noTab__back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.noTab__back>img{
    width: 100%;
    height: 100%;
}
.GetInTouch__txt1{
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    z-index: 5555;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px ;
}
.GetInTouch__txt2{
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    z-index: 5555;
    position: relative;
}
.GetInTouch__txt__container{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 82px;
    position: relative;
    width: 580px;
}
.GetInTouch__txt__container__picture{
    position: absolute;
    top: -163%;
    left: -45%;
}
.GetInTouch{
    background: black;
    position: relative;
}
.search_form{
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-bottom: 91px;
}
.search_form__content{
    width: 80%;
    height: auto;
}
.search_form__content__input{
    width: 100%;
    height: 83px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 23px;
}
.search_form__content2{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.search_form__content__input2{
    display: block;
    height: 83px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 23px;
    width: 48%;
}
.search_form__content__input2::placeholder{
    color: #BFBFBF;
    font-size: 18px;
    line-height: 25px;
    padding-left: 23px;
}
.search_form__content__input__message{
    display: block;
    height: 199px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 23px;
    width: 100%;

}
.search_form__content__input__message::placeholder{
    color: #BFBFBF;
    font-size: 18px;
    line-height: 25px;
    padding-left: 23px;
}
.search_form__content__input__name{
    display: block;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 23px;
    width: 100%;
}
.search_form__content__input::placeholder{
    color: #BFBFBF;
    font-size: 18px;
    line-height: 25px;
    padding-left: 23px;
}
.search_form__button{
    background: #000000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 398px;
    height: 80px;
}
.search_form__button__container{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: 80px;
}
.search_form__button{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.search_form__back{
    position: absolute;
    right: 0;
    z-index: -1;
}
.download{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download__text{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    margin-bottom: 23px;
}
.download__pictures{

}
.error{
    border: 2px solid #FF0000;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 155px;
    position: relative;
    z-index: 4;
}
.footer__content1>div{
    margin-top: 15px;
}
.footer__content2>p{
    padding-top: 12px;
}
.footer__back{
    position: absolute;
    margin-top: -31%;
}

.footer__content1>div>a{
    text-decoration: none;
    color: #FFFFFF;

    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    width: auto;
    list-style: none;
}
.footer__content1>div>a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    content: "";
    transition: width 0.3s ease-out;
}
.footer__content1>div>a:hover:after,
.footer__content1>div>a:focus:after {
    width: 100%;
}
.cookies{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100000;
    max-width: 1450px;
    display: flex;
    height: 93px;
    align-items: center;
    background-color: #212834;
    justify-content: space-around;
}
.cookies__txt{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 14px;
    line-height: 19px;
}
 .cookies__txt>p{
     font-size: 14px;
     line-height: 19px;
 }
.cookies__button{
    height: 50px;
    width: 92px;
}
.cookies__button>button{
    height: 100%;
    width: 100%;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
}